h1{
    color:blue;
    text-align: center;

}
h2{
    color:green;
    text-align: center;

}
h4{
    color:black;
    text-align:right;
    justify-content: center;
}
.one{
    display: flex;
    background-color: darksalmon;
    justify-content: center;

}
.two{
    display:flex;
    background-color: gold;
    height:auto;
    width:200px;
    text-align: center;
}
.three{
    display: flex;
    background: darkred;
    justify-content: center;
    align-content:flex-end;
    font-size: medium;
    margin:  50px;
    padding:5px;
    font-style: italic;
}
.four{
    display:flex;
    background: hotpink;
    font-size: medium;
    font-style: oblique;
    margin: 50px;
    padding:5px;
    
}
.five{
    display:flex;
    background-color:coral;
}